[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = {extras = ["dotenv"], version = "*"}
starlette = "*"
pyspark = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
pyarrow = "*"
httpx = "*"
beautifulsoup4 = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
